@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"), url("./fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"), url("./fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
}
